.navbar-brand{
    font-weight: bold;
    margin-left: 2px 0px;
}
.cart-bk {
  background:url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F001%2F504%2F962%2Foriginal%2Fshopping-cart-icon-free-vector.jpg&imgrefurl=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F1504962-shopping-cart-icon&tbnid=oUWss5Ivd_vpIM&vet=12ahUKEwiS9Lew1bj8AhWXk9gFHUGBCsAQMygLegUIARD_AQ..i&docid=H4AihI5UcJ3CzM&w=5120&h=5120&q=cart%20icon&ved=2ahUKEwiS9Lew1bj8AhWXk9gFHUGBCsAQMygLegUIARD_AQ);
    background: url('D:/Training3/eKart2/EKart/EKart/wwwroot/Images/download.png');
    width: 45px;
    height: 45px;
    background-size: cover;
    position: relative;
}

