
<br/>
<div>
    <h3>Orders</h3>
</div>
<br/>

<div *ngIf="data!=0;else NoData">
<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Expected Delivery Date</th>
            <th>Actual Delivery Date</th>
            
            <th>City</th>
            <th>State</th>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th></th>
        </tr>
    </thead>
    
        <tbody>
            <tr *ngFor="let order of data | paginate: 
            { itemsPerPage: 4, currentPage: p }">
                <td>{{order.orderId}}</td>
                <td>{{order.expectedDeliveryDate | date:'dd MMMM YYYY'}}</td>
                <td>{{order.actualDeliveryDate|date:'dd MMMM YYYY'}}</td>
                
                <td>{{order.customer.customerAddress.city}}</td>
                <td>{{order.customer.customerAddress.state}}</td>
                <td>{{order.customer.customerId}}</td>
                <td>{{order.customer.customerName}}</td>
                <td> 
                    <button type="button" id="{{order.orderId}}" (click)="onSubmit(order.orderId)"class="btn btn-outline-primary" >Details</button>
                </td>
                
            </tr>
        </tbody>
 
</table>
<div class="pagination align-items:center">
<pagination-controls 
(pageChange)="p = $event" 
class="float-left">
</pagination-controls>
</div>
</div>
<ng-template #NoData>
<div>
    <h3>Currently no Orders in your City</h3>
</div>
</ng-template>




