<!-- <br/>
<div>
    <h3>Orders</h3>
</div>
<br/>

<div>
<table class="table">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>ExpectedDeliveryDate</th>
            <th>ActualDeliveryDate</th>
            <th>CustomerId</th>
            <th>CustomerName</th>
            <th>City</th>
            <th>State</th>
             -->
<!-- </tr>
    </thead>
    
        <tbody>
            <tr *ngFor="let order of data">
                <td>{{order.orderId}}</td>
                <td>{{order.expectedDeliveryDate | date:'short'}}</td>
                <td>{{order.actualDeliveryDate|date:'short'}}</td>
                <td>{{order.customer.customerId}}</td>
                <td>{{order.customer.customerName}}</td>
                <td>{{order.customer.customerAddress.city}}</td>
                <td>{{order.customer.customerAddress.state}}</td>
            </tr>
        </tbody>
 
</table>
</div> -->
<div class="container">
  <div class="content">
    <div class="text">
      <!-- <img class="img-responsive" src="assets/UI.jpg"> -->
      <h1>Delivering happiness to your home</h1>
      <br />

      <h3>eMyKart Service</h3>
      <br />
      <p>
        eMyKart is a online delivery application.We make the things you need
        arrive on time. You focus on what you need to do.<br />
      </p>
    </div>
  </div>
</div>
